.wrapper {
    padding: 20px;
    background-color: white !important;
    box-shadow: 0 0 20px 0 #aaa;
    margin: auto !important;
    width: auto;
}

body {
    background-color: #36E37C;
}

.pull-right {
    text-align: right;
}

.data-div {
    border: #D8EDE1 1px solid;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 5%;
}

