{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="wrapper container" style="width: 50%">
    <div class="pull-right">
        {% if not user.is_authenticated %}
        <a href="{% url 'social:begin' 'twitter' %}">
        <button class="btn btn-default btn-primary">Log in with Twitter</button>
        </a>
            {% else %}
            <h2>Welcome {{ user.username }}</h2>
            <a href="{% url 'logout' %}">
            <button class="btn btn-default btn-danger">Logout</button>
            </a>
        {% endif %}
    </div>
       <div class="text-center">
           <h1>Plans tonight?</h1>
           <p>Enter your city name below
                to see chilling places</p>
       </div>
        <div>

                <input id="searchBar" class="form-control mr-sm-2" type="text" placeholder="Enter a city name...">
                <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>

        <div id="places">

        </div>
    </div>
{% endblock %}
